body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
/*Logs de la subida de fotos e incidencias*/
#logs {
    overflow-y: auto;
    height: 150px;
}

/*Tablesorter*/

